h4{
  text-align: right;
}

h1{
  font-size: 80px;
  border-style: groove;
  border-color: #222222;
  padding: 10px;
  background: black;
}
h3{
  font-size: 20px;
  text-align: center;
}
h3, p{
  border-style: hidden;
  border-radius: 10px;
  background: black;
  width: 400;
}
.col{
  border-style: hidden;
  border-radius: 25px;
  background: black;
  text-align: center;
}
footer{
  border-style: hidden;
  border-radius: 10px;
  background: black;
  text-align: center
}